# Forced mute [boolean]: true/false
mute = false

# Mute on stop [boolean]: true/false
muting = true

# Note-off handling [boolean]: true/false
noff = false

# Note-off fadeout [ms]: 0.00000000..50.00000000
fout = 10.00000000

# Dry amount [G]: 0.00000000..10.00000000
dry = 1.00000000

# Wet amount [G]: 0.00000000..10.00000000
wet = 1.00000000

# Output gain [G]: 0.00000000..1000.00000000
g_out = 1.00000000

# Area selector: 0..2
#   0: Instruments
msel = 0

# Instrument selector: 0..N
inst = {{ inst }}

