{% for region in regions -%}
{% if debug -%}
// midi name  : {{ region['midi_name'] }}
{%- endif %}
<group>key={{ region['midi_note'] }}
{% for sample in region['samples'] -%}
{% if debug %}
// channels   : {{ sample['channels'] }}
// duration   : {{ sample['duration'] }}
// samples    : {{ sample['samples'] }}
// sample rate: {{ sample['sampling_rate'] }}
// bit depth  : {{ sample['bit_depth'] }}
{%- endif %}
<region>sample={{ sample['pathname'] }}
{%- endfor %}

{% endfor %}