{% for region in regions -%}
{% if debug -%}
// midi name  : {{ region['midi_name'] }}
{%- endif %}
<group> loop_mode=one_shot {% if multikey %}pitch_keycenter={{ region['midi_note'] }} lokey={{ region['midi_note'] }} hikey={{ region['midi_note'] }} {% else %}key={{ region['midi_note'] }} {% endif %}
{% for sample in region['samples'] -%}
{% if debug %}
// channels   : {{ sample['channels'] }}
// duration   : {{ sample['duration'] }}
// samples    : {{ sample['samples'] }}
// sample rate: {{ sample['sampling_rate'] }}
// bit depth  : {{ sample['bit_depth'] }}
{%- endif %}
<region> sample={{ sample['pathname'] }}
{%- endfor %}

{% endfor %}
