<?xml version="1.0" encoding="UTF-8"?>

<Speedrum FileType="DrumKit" version="3" creator="Speedrum">
  <Pads>
  {% for num, pad in pads.items() %}
    {% if 'name' in pad -%}
    <Pad PadName="{{ pad['name'] }}" IsCustomName="1"{% if 'out' in pad %} Output="{{ pad['out'] }}.0"{% endif %} LayerIndex="0">
      {% for layer in pad['layers'] %}
      {% if debug %}<!--
      channels   : {{ layer['channels'] }}
      duration   : {{ layer['duration'] }}
      samples    : {{ layer['samples'] }}
      sample rate: {{ layer['sampling_rate'] }}
      bit depth  : {{ layer['bit_depth'] }} -->
      {%- endif %}
      <Layer SampleFileAbsolute="{{ layer['pathname'] }}" Checksum="{{ layer['checksum'] }}"{% if loop.index > 1 %} Volume="0.0"{% endif %}/>
      {% endfor %}
    </Pad>
    {% else %}
    <Pad/>
    {%- endif %}
  {% endfor %}
 </Pads>
</Speedrum>
