<?xml version="1.0" encoding="UTF-8"?>

<Speedrum FileType="DrumKit" version="2" creator="SpeedrumLite">
  <Pads>
  {% for num, pad in pads.items() %}
    {% if 'name' in pad -%}
    <Pad PadNum="{{ loop.index-1 }}" PadName="{{ pad['name'] }}" IsCustomName="1"{% if 'out' in pad %} Output="{{ pad['out'] }}.0"{% endif %}>
      {% for layer in pad['layers'] %}
      {% if debug %}<!--
      channels   : {{ layer['channels'] }}
      duration   : {{ layer['duration'] }}
      samples    : {{ layer['samples'] }}
      sample rate: {{ layer['sampling_rate'] }}
      bit depth  : {{ layer['bit_depth'] }} -->
      {%- endif %}
      <Layer LayerNum="{{ loop.index-1 }}" SampleFileAbsolute="{{ layer['pathname'] }}"/>
      {% endfor %}
    </Pad>
    {% else %}
    <Pad PadNum="{{ num-36 }}"/>
    {%- endif %}
  {% endfor %}
 </Pads>
</Speedrum>
